form{
    margin: 10px 50px ;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    
}
.name{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin: 2px;
}
button{
    padding-top: 10px;
    width: 100px;
    background-color: green;
    color:white;
    border-color: white;
    text-align:center;
}
.reset{
  background-color: rgb(255, 0, 0);
}
.completed{
    padding: 10px;
    margin: 5px;
    border: black solid 2px;
    border-radius: 5px;
}